.example-container {
    width: 100%;
    height: 100%;
}

mat-drawer {
    width: 5%;
}

.home-icon {
    height: inherit;
    display: flex;
    flex-direction: column;
}

.icon {
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border-bottom: 1px solid gray;
    align-items: center;
    color: gray;
}

.icon a{
    color: gray;
}