.login {
    /* background-color: #3d55db; */
    background-image: linear-gradient(to left, rgb(68, 118, 255), rgb(26, 26, 168) );
    height: 70vh;
    border-bottom-left-radius: 100px;
}

.home { 
    height: 100%;
}

.justify-content-md-center {
    height: 165px;
}

.center-component {
    width: 100%;
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
    margin: auto;
}

.full-width {
    width: 100%;
}

.custom-spacer {
    flex: 1 1 auto;
}

.mat-toolbar.mat-primary {
    background: #3f51b5;
    color: #fff;
}

.mat-mdc-raised-button:not(:disabled) {
    background-color: #3f51b5
}

img {
    width: 12%;
    aspect-ratio: 1.5;
}

@media(max-width: 500px) {
    img {
        width: 40%;
        aspect-ratio: 1.5;
    }
}

@media(max-width: 768px) {
    img {
        width: 50%;
        aspect-ratio: 1.5;
    }
}