.login {
    /* background-color: #3d55db; */
    background-image: linear-gradient(to left, rgb(68, 118, 255), rgb(26, 26, 168));
    height: 70vh;
    border-bottom-left-radius: 100px;
}

.home {
    height: 100%;
}

.justify-content-md-center {
    height: 165px;
}

.center-component {
    width: 100%;
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
    margin: auto;
}

.full-width {
    width: 100%;
}

.custom-spacer {
    flex: 1 1 auto;
}

.mat-toolbar.mat-primary {
    background: #3f51b5;
    color: #fff;
}

.mat-mdc-raised-button:not(:disabled) {
    background-color: #3f51b5
}

img {
    width: 12%;
    aspect-ratio: 1.5;
}

::ng-deep button.mat-focus-indicator.mat-raised-button.mat-button-base.mat-primary {
    background-color: #36a8ca !important;
    border-radius: 20px !important;
    border: none !important;
    width: 12em;
}

@media(max-width: 500px) {

    .login {
        height: 40vh;
    }

    img {
        width: 35%;
        aspect-ratio: 1.5;
    }

    .center-component {
        top:25%
    }
}

@media(max-width: 768px) {

    .login {
        height: 40vh;
    }

    img {
        width: 40%;
        aspect-ratio: 1.5;
    }

    .center-component {
        top:40%
    }
}