.home {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgb(237 242 243);
    padding: inherit;
}

.project-count {
    width: 220px;
    background: white;
    border-radius: 5px;
    border-left: 6px solid #57d6ff;
}

.project {
    padding: 15px;
}

h4 {
    padding: 10px 0 0 10px;
    margin: 0 !important;
    color: gray;
}

h1 {
    font-size: xx-large;
    font-weight: 500;
    padding-left: 10px;
}

h2 {
    padding: 10px 10px 10px 30px;
}

.graph {
    width: 400px;
    display: block;
}

@media(max-width: 767px) {
    .home {
        overflow: scroll;
    }

    .project-count {
        margin-top: 10px;
    }

    .graph {
        width: 300px;
        display: block;
    }

    .project {
        padding: 0px;
    }

    .graph {
        padding-bottom: 40px;
    }
}

@media screen and (max-width: 425px) {
    .project-count {
        margin-top: 10px;
    }

    .graph {
        width: 300px;
        display: block;
    }

    h1 {
        font-size: x-large !important;
    }
}

@media screen and (max-width: 375px) {
    .graph {
        width: 250px;
        display: block;
    }

    h1 {
        font-size: x-large !important;
    }
}

@media screen and (max-width: 320px) {
    .graph {
        width: 240px !important;
        display: block;
    }

    h1 {
        font-size: x-large !important;
    }
}

@media screen and (max-width: 768px) {
    .project-count {
        width: 100px;
        padding: 10px;
        margin: 5px;
        height: 101px
    }

    .graph {
        width: 300px;
        display: block;
    }

    h1 {
        font-size: x-large !important;
    }
}