<div class="project">
    <div class="home">
        <div class="project-count">
            <h4>Total Projects</h4>
            <h1>{{totalCount}}</h1>
        </div>
        <div class="project-count">
            <h4>Closed</h4>
            <h1>{{closeCount}}</h1>
        </div>
        <div class="project-count">
            <h4>Running</h4>
            <h1>{{startCount}}</h1>
        </div>
        <div class="project-count">
            <h4> Closure Delay </h4>
            <h1>{{delayDate}}</h1>
        </div>
        <div class="project-count">
            <h4>Canclled</h4>
            <h1>{{cancleCount}}</h1>
        </div>
    </div>
    <div class="mt-3">
        <h1>Projet Plan Vs Actual Plan</h1>
        <h2>Registration</h2>
    </div>

    <div class="graph">
        <canvas id="canvas" height="320">{{ chart }}</canvas>
    </div>
</div>