<div class="container">

    <button mat-raised-button color="primary" (click)="toDashboard()">Home</button>

    <table class="table table-borderless">
        <thead>
            <tr>
                <th scope="col">Nroject Name</th>
                <th scope="col">Type</th>
                <th scope="col">Division</th>
                <th scope="col">Category</th>
                <th scope="col">Priority</th>
                <th scope="col">Department</th>
                <th scope="col">Location</th>
                <th scope="col">Status</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let p of projectList">
                <td> {{p.projectName}}
                    <p> {{p.startDate | date}} to {{p.endDate | date}} </p>
                </td>
                <td>{{p.type}}</td>
                <td>{{p.division}}</td>
                <td>{{p.category}}</td>
                <td>{{p.priority}}</td>
                <td>{{p.department}}</td>
                <td>{{p.location}}</td>
                <td>{{p.status}}</td>
                <td class="status-button">
                    <button mat-flat-button color="primary">Start</button>
                    <button mat-flat-button>Close</button>
                    <button mat-flat-button>Cancle</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>