<div>
    <table class="table table-borderless">
        <thead>
            <tr>
                <th scope="col">Nroject Name</th>
                <th scope="col">Type</th>
                <th scope="col">Division</th>
                <th scope="col">Category</th>
                <th scope="col">Priority</th>
                <th scope="col">Department</th>
                <th scope="col">Location</th>
                <th scope="col">Status</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let p of projectList">
                <td>{{p.projectName}}</td>
                <td>{{p.type}}</td>
                <td>{{p.division}}</td>
                <td>{{p.category}}</td>
                <td>{{p.priority}}</td>
                <td>{{p.department}}</td>
                <td>{{p.location}}</td>
                <td>{{p.status}}</td>
            </tr>
        </tbody>
    </table>
</div>